<section class="area" id="area">
    <div class="blc__inner">
        <h2 class="area__ttl">エリアマップ</h2>
        <div class="area__map">
            <div class="area__map--img">
                <picture class="">
                    <source srcset="./img/map.webp" type="image/webp">
                    <img src="./img/map.jpg" alt="MAP" width="1012" height="1914">
                </picture>
            </div>
        </div>

        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot1">SPOT1</h3>
            <p class="area__spot--txt">デジタルアトラクション</p>
            <p class="area__spot--txt2">Powered by<span class="logoSoftbank">softbank</span></p>
            <picture class="area__spot1--chara1">
                <source srcset="./img/img_usagi.webp" type="image/webp">
                <img src="./img/img_usagi.png" alt="うさぎさん" width="352" height="549">
            </picture>
            <picture class="area__spot1--chara2">
                <source srcset="./img/img_usagi2.webp" type="image/webp">
                <img src="./img/img_usagi2.png" alt="うさぎさん" width="436" height="676">
            </picture>
            <div class="area__spot1--topblc">
                <div class="area__spot1--topblc--wrapper">
                    <div class="area__spot1--topblc-img">
                        <p class="fourdh"><span>MetaWalkers</span></p>

                        <div class="area__spot--blc-img">
                            <picture>
                                <source srcset="./img/img_4DO.webp" type="image/webp">
                                <img src="./img/img_4DO.jpg" alt="" width="1400" height="788">
                            </picture>
                        </div>
                        <p class="area__spot1--blc-txt">360°VRアトラクション(MetaWalkers)<br>「たべっ子どうぶつマジカルダンスシアター」</p>

                        <p class="accordion__ttl fourdh02"><span>詳細はこちら</span></p>
                        <div class="accordion">
                            <p class="area__spot1--blc-txt2">
                                ここでしか見られない「たべっ子どうぶつ」のどうぶつたちによる不思議なショーを、360度3Dアニメーションでお楽しみいただけます。</p>


                            <span class="sp">
                                <p class="area__spot1--blc-note">※料金：無料</p>
                                <p class="area__spot1--blc-note">※対応年齢：4歳以上</p>
                                <p class="area__spot1--blc-note">※体験時間目安：1~2分</p>
                            </span>
                            <span class="pc">
                                <p class="area__spot1--blc-note">※料金：無料　※対応年齢：4歳以上　※体験時間目安：1~2分</p>
                            </span>
                            <p class="area__spot1--blc-note">※ご視聴にあたって3Dメガネをご装着いただきます。3Dメガネは使用ごとに消毒を実施します。</p>
                            <p class="area__spot1--blc-note">※混雑時はご体験までお時間いただく可能性がございます。あらかじめご了承ください</p>
                            <p class="area__spot1--blc-note">
                                ※こちらは事前抽選(無料)を実施させていただきます。また応募枠に空きがある場合、当日先着順で各時間受付をさせていただきます。
                            </p>
                            <p class="area__spot1--blc-note">
                                ※機材の不具合などの影響により、予告なく上映を中止する場合がございます。またその場合の入場料返金などは行っておりません。予めご了承いただきますようお願い申し上げます。</p>
                            <p class="areaChusen__txt">「たべっ子どうぶつマジカルダンスシアター」は、事前予約抽選にてご案内をさせていただきます。
                                なお予約枠に空きがある場合、ご来場時に先着にて体験いただけます</p>
                            <a href="https://t.livepocket.jp/t/y_n_6" target="_blank"
                                class="areaChusen">5月までの事前抽選はこちら</a>

                        </div>
                    </div>
                </div>
            </div>
            <p class="fourdh ar"><span>AR</span></p>

            <div class="area__spot1--opacity">
                <div class="area__spot1--blc">

                    <div class="area__spot1--blc-small area__spot1--blc-small1">

                        <div class="area__spot--blc-img">
                            <picture>
                                <source srcset="./img/img_hide04.webp" type="image/webp" class="borderimg">
                                <img src="./img/img_hide04.jpg" alt="" width="571" height="653" class="borderimg">
                            </picture>
                        </div>
                        <p class="area__spot1--blc-txt">たべっ子どうぶつのかくれんぼ</p>
                        <p class="accordion__ttl"><span>詳細はこちら</span></p>
                        <div class="accordion">
                            <p class="area__spot1--blc-txt2">
                                テーマパーク内に設置されたパネルのQRコードを「<span class="arStrong">AR
                                    SQUARE</span>」アプリで読み取って、たべっ子どうぶつ（9種類）とソフトバンク白戸家のお父さんの<span
                                    class="arStrong">AR</span>をゲット！会場内の色んな場所に隠れているので、入場時にお渡しするマップを手掛かりに探しください。ダウンロードした
                                <span
                                    class="arStrong">AR</span>はいつでもどこでも一緒に写真を撮って楽しめます。集めたたべっ子どうぶつや白戸家のお父さんたちと写真を撮ったら「#たべっ子どうぶつLAND」をつけて、SNSでぜひシェアしてください。
                            </p>
                            <p class="howto_taiken">
                                <体験方法>
                            </p>

                            <div class="area__spot--blc-imgsteps">
                                <picture>
                                    <source srcset="./img/steps_kakurenbo-las03.webp" type="image/webp">
                                    <img src="./img/steps_kakurenbo-las03.jpg" alt="" width="700" height="1186">
                                </picture>
                            </div>
                            <!-- <div class="area__spot--sblcs">
                            <p class="area__spot--sblcs-txt">■ARダウンロード方法</p>
                            <p class="area__spot--sblcs-txt">①お手持ちのスマートフォンに「AR SQUARE」アプリ（無料）をインストール</p>
                            <p class="area__spot--sblcs-txt">②会場内のパネルに掲載されたQRコードを、スマートフォンのカメラで読み込みダウンロード</p>
                            <p class="area__spot--sblcs-txt">③たべっ子どうぶつたちやソフトバンク白戸家のお父さんと色んな場所でたくさん撮影してください♪</p>
                            <p class="area__spot--sblcs-txt">※映像視聴期間：2023年3月18日(土) ～ 2024年3月16日(土)</p>
                        </div> -->


                            <!-- <div class="area__spot--blc-img2">
                            <picture>
                                <source srcset="./img/img_flowtest.webp" type="image/webp">
                                <img src="./img/img_flowtest.jpg" alt="" width="800" height="1300">
                            </picture>
                        </div> -->
                            <!-- <div class="area__spot--dl2">
                            <div>
                                <p class="area__spot--dl-txt">
                                    <a href="https://37ud.adj.st/open?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen&adj_campaign=media-release&adj_adgroup=tabekko&adj_creative=app&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                                        rel="noopener noreferrer" target="_blank">
                                        <span class="arStrong">AR SQUARE</span><br>アプリダウンロードはこちら
                                    </a></p>
                                <div class="area__spot--qr-blc">
                                    <p class="area__spot--qr-txt2">
                                        <img src="./img/qr_aplitop.png" alt="アプリダウンロード" width="414" height="414">
                                    </p>
                                    <p class="area__spot--qr-txt">アプリダウンロード</p>
                                </div>
                            </div>
                        </div> -->
                        </div>

                    </div>
                    <div class="area__spot1--blc-small area__spot1--blc-small2">
                        <!-- <div class="area__spot--blc-img">
                            <picture>
                                <source srcset="./img/img_ugokidasu.webp" type="image/webp">
                                <img src="./img/img_ugokidasu.jpg" alt="" width="638" height="626">
                            </picture>
                        </div> -->
                        <!-- <div class="pc">
                        <p style="height: 47px; margin: 0; white-space: nowrap; text-indent: -9999px;">tst</p>
                    </div> -->
                        <div class="area__spot--blc-img">
                            <picture>
                                <source srcset="./img/img_ugokidasu04.webp" type="image/webp">
                                <img src="./img/img_ugokidasu04.jpg" alt="" width="571" height="653">
                            </picture>
                        </div>
                        <p class="area__spot1--blc-txt">動きだす たべっ子どうぶつ</p>
                        <p class="accordion__ttl"><span>詳細はこちら</span></p>
                        <div class="accordion">
                            <p class="area__spot1--blc-txt2">入場時にお配りする<span class="arStrong">AR</span>コースターに「<span
                                    class="arStrong">AR SQUARE</span>」アプリをかざすと、
                                どうぶつたちが動き出す不思議な体験をお楽しみいただけます。たべっ子どうぶつたちと一緒に45周年をお祝いしませんか。
                            </p>
                            <p class="howto_taiken">
                                <体験方法>
                            </p>
                            <div class="area__spot--blc-imgsteps">
                                <picture>
                                    <source srcset="./img/steps_ugokidasu3.webp" type="image/webp">
                                    <img src="./img/steps_ugokidasu3.jpg" alt="" width="700" height="1400">
                                </picture>
                            </div>
                            <!-- <div class="area__spot--sblcs">
                            <p class="area__spot--sblcs-txt">■体験方法</p>
                            <p class="area__spot--sblcs-txt">①お手持ちのスマートフォンに「AR SQUARE」アプリ（無料）をインストール</p>
                            <p class="area__spot--sblcs-txt">②アプリ下部の「スキャン」ボタンを押して、「動きだす たべっ子どうぶつ」を選択</p>
                            <p class="area__spot--sblcs-txt">③ARコースターにかざすとどうぶつたちが動き出します！</p>
                        </div> -->

                            <!-- <div class="area__spot--dl2">
                            <div class="area__spot--qr-blc">
                                <p class="area__spot--qr-txt2">
                                    <img src="./img/qr_kakure01.png" alt="コースターはこちらからもスキャンいただけます" width="462" height="462">
                                </p>
                                <p class="area__spot--qr-txt"><a href="https://37ud.adj.st/open/markergroup/XUHOIZ30Ei?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen%2Fmarkergroup%2FXUHOIZ30Ei&adj_campaign=lp&adj_adgroup=tabekko&adj_creative=marker&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS" target="_blank">動き出す たべっ子どうぶつは<br>こちらからもスキャンいただけます</a></p>
                            </div>
                        </div> -->


                            <!-- <div class="area__spot--dl2">
                            <div class="area__spot--qr-blc">
                                <p class="area__spot--qr-txt2">
                                    <img src="./img/qr_kakure02.png" alt="パッケージスキャン画面" width="462" height="462">
                                </p>
                                <p class="area__spot--qr-txt"><a
                                        href="https://37ud.adj.st/open/markergroup/I0Tq3zLmlm?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen%2Fmarkergroup%2FI0Tq3zLmlm&adj_campaign=lp&adj_adgroup=tabekko&adj_creative=marker&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                                        target="_blank">パッケージはこちらからも<br>スキャンいただけます</a></p>
                            </div>
                        </div> -->
                        </div>
                    </div>

                </div>
                <div class="area__special02">
                    <picture>
                        <source srcset="./img/img_package-renew02.webp" type="image/webp">
                        <img src="./img/img_package-renew02.jpg" alt="ぱっけーじ" width="1000" height="1828">
                    </picture>
                    <p class="accordion__ttl"><span style="background-color: #E3007F;">詳細はこちら</span></p>
                    <div class="accordion area__special02--accordion">
                        <div class="area__spot--dl2">
                            <div>
                                <p class="area__spot--dl-txt" style="padding-left: 8px;">
                                    <a href="https://37ud.adj.st/open?adj_t=u4sd444&adj_deep_link=arsquare%3A%2F%2Fopen&adj_campaign=media-release&adj_adgroup=tabekko&adj_creative=app&adj_fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Djp.softbank.mb.sbarservice%26hl%3Dja%26gl%3DUS"
                                        rel="noopener noreferrer" target="_blank">
                                        <span class="arStrong">AR SQUARE</span><br>アプリダウンロードはこちら
                                    </a></p>
                                <div class="area__spot--qr-blc">
                                    <p class="area__spot--qr-txt2">
                                        <img src="./img/qr_aplitop.png" alt="アプリダウンロード" width="414" height="414">
                                    </p>
                                    <p class="area__spot--qr-txt">アプリダウンロード</p>
                                </div>
                            </div>
                        </div>
                        <div class="area__noteblc">
                            <p class="area__spot1--blc-note">※対応機種があります。ご注意ください。<br>
                                iPhone：iOS 13.0以降（iPhone 8以降）／ Android：Android 9.0以降をご利用のお客様はGoogle Playで「Google
                                Play開発者サービス（AR）」を最新バージョンにアップデートしてご利用ください。</p>
                            <p class="area__spot1--blc-note">※ARCore対応端末で本サービスをご利用いただけます。</p>
                            <p class="area__spot1--blc-note">※アプリケーションのダウンロード及びご利用には別途通信料がかかります</p>
                            <p class="area__spot1--blc-note">※本ARコンテンツの公開期間中であっても、「AR
                                SQUARE」のサービス提供が終了した場合は、本ARコンテンツは閲覧できなくなります。 </p>
                            <p class="area__spot1--blc-note">※ページが開かない場合は利用規約に同意の上、再度QRコードを読み取ってください</p>
                            <p class="area__spot1--blc-note">※ノベルティーには限りがあります</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="area__special">
                    <p class="area__special--ttl">たべっ子どうぶつ<br>パッケージ連動企画</p>
                    <div class="area__special--inner">
                        <div class="area__special--img">
                            <picture>
                                <source srcset="./img/img_package5.webp" type="image/webp">
                                <img src="./img/img_package5.jpg" alt="ぱっけーじ" width="571" height="653">
                            </picture>
                        </div>
                        <p class="area__spot1--blc-txt2" style="text-align: center;">「<span class="arStrong">AR
                                SQUARE</span>」の「スキャン」ボタンを押して、「動き出す
                            たべっ子どうぶつ（お菓子パッケージ連動企画）」を選択し、「たべっ子どうぶつ」バター味45周年限定パッケージにかざしてみると…！？</p>
                        <p class="area__spot1--blc-note">※箱の表面のどうぶつたちにスマホをかざしてください</p>
                    </div>
                </div> -->


                <div class="questionnaire__wrapper">

                    <div class="questionnaire">
                        <a href="https://stn.mb.softbank.jp/n2J9z" target="_blank"
                            class="questionnaire__ttl">ご来場後、ぜひこちらから<br>アンケートにお答えください</a>
                        <!-- <p class="questionnaire__blc">
                            <a href="https://stn.mb.softbank.jp/n2J9z" target="_blank">アンケートはこちら</a>
                            <img src="./img/qr_questionner02.png" alt="QRコード" width="222" height="222">
                        
                        </p> -->
                    </div>
                </div>
            </div>


        </div>
        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot2">SPOT3</h3>
            <p class="area__spot--txt">フォトスポット&キャラクターグリーティング</p>
            <picture class="area__spot3--chara1">
                <source srcset="./img/img_spot3.webp" type="image/webp">
                <img src="./img/img_spot3.png" alt="SPOT3" width="226" height="446">
            </picture>

            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">
                    <div class="area__spot1--blc-img2">
                        <picture>
                            <source srcset="./img/img_photospot.webp" type="image/webp">
                            <img src="./img/img_photospot.jpg" alt="" width="1000" height="595">
                        </picture>
                    </div>
                    <div>
                        <!-- <p class="area__spot1--blc-txt">フォトスポット&<br>キャラクターグリーティング </p> -->
                        <p class="area__spot1--blc-txt2">かわいい「たべっ子どうぶつ」の世界観を写真に収めることができる過去最大数のフォトスポットをご用意！
                            特に、「たべっ子どうぶつ」のパッケージに入り、記念撮影ができる巨大箱型フォトスポットは“SNS映え“すること間違いなしです。
                            そして今回もキャラクターグリーティングを開催。かわいいどうぶつさんたちに会いに来てくださいね♪
                        </p>
                        <!-- <p class="area__spot1--blc-note">※画像は一部フォトスポットのイメージです -->
                        </p>
                    </div>

                </div>

            </div>
            <div class="area__spot--greeting">
                <picture>
                    <source srcset="./img/img_greeting.webp" type="image/webp">
                    <img src="./img/img_greeting.jpg" alt="" width="1000" height="1964">
                </picture>
            </div>
            <p class="area__spot1--blc-note">※混雑状況や入場人数によって、全てのお客様に写真撮影をお楽しみいただけない場合がございます。</p>
            <p class="area__spot1--blc-note">※スケジュールが急遽変更となる場合がございます。</p>
        </div>

        <div class="area__spot area__spot2">
            <h3 class="area__spot--ttl" id="spot3">SPOT1</h3>
            <p class="area__spot--txt">プロジェクション<br>マッピング</p>
            <picture class="area__spot2--chara1">
                <source srcset="./img/img_saru.webp" type="image/webp">
                <img src="./img/img_saru.png" alt="さるさん" width="348" height="448">
            </picture>
            <picture class="area__spot2--chara2">
                <source srcset="./img/img_saru2.webp" type="image/webp">
                <img src="./img/img_saru2.png" alt="さるさん" width="454" height="558">
            </picture>
            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small3">

                    <div class="area__spot1--blc-img2">
                        <picture class="pmap">
                            <source srcset="./img/img_mapping3.webp" type="image/webp">
                            <img src="./img/img_mapping3.jpg" alt="" width="1200" height="294">
                        </picture>
                    </div>
                    <div>
                        <p class="area__spot1--blc-txt">「たべっ子どうぶつ」<br>プロジェクションマッピング</p>
                        <p class="area__spot1--blc-txt2">
                            15ｍ×3.6ｍの巨大スクリーンに「たべっ子どうぶつ」の　どうぶつたちのかわいくて愉快な様子がプロジェクションマッピングとして映し出されます。ここでしか見られない、様々な「たべっ子どうぶつ」の世界観をお楽しみください。
                        </p>
                        <!-- <p class="area__spot1--blc-note">※画像はプロジェクションマッピングの一部イメージです</p> -->
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>